{% extends 'base.html' %}

{% block navbar %}
<div style="float:right;">
    <form action="{{ url_for('form') }}" method="POST" enctype="multipart/form-data" style="display:inline">
        <li class='action-button-wrapper'><button type="submit" class='action-button'>Edit</button></li>
    </form>
    <form action="{{ url_for('download_pdf') }}" method="POST" enctype="multipart/form-data" style="display:inline">
        <li class='action-button-wrapper'><button type="submit" class='action-button'>Download as PDF</button></li>
    </form>
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/press-release.css') }}">
<title>{{ school }} | Press Release Preview </title>
{% endblock %}

{% block body %}
<div class="press-release">
    {% include 'press-release/press_release.html' %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}