{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block body %}
<div id="main-header"> 
  <h1>
    School Event Page Information Submitted.
    <br><br>
    If this is your first submission, you will receive an email with a link to your published event page within 24 hours. If you are updating your event page, your published event page will be updated within 24 hours.
  </h1>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}