{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block body %}
<div class="form-body">
    <div class="row">
      <div class="col">
  
        <h1>Event Page Information</h1>
        <hr>
  
        <form action="{{ url_for('preview') }}" method="POST" enctype="multipart/form-data">
  
          <div class="form-group">
            <label>School Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter school name" required>
          </div>
          <div class="form-group">
            <label>School State</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter school state" required>
          </div>
          <div class="form-group">
            <label>Event Date</label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Select event date" required>
          </div>

          <div class="form-group">
            <label>Event Type</label>
            <br>
            <div class="radio-group">
              <input type="radio" id="text" name="pickup_only" value="True" required>
              <label for="True">Pickup Only</label>
              <input type="radio" id="video" name="pickup_only" value="False" required>
              <label for="False">Volunteer Planting</label>
            </div>
          </div>

          <div class="form-group">
            <label>Tree Goal</label>
            <input type="number" class="form-control" id="tree_goal" name="tree_goal" placeholder="Enter tree goal" required>
          </div>

          <div class="form-group">
            <label>"About Us" Media Type</label>
            <br>
            <div class="radio-group">
              <input type="radio" id="text" name="media_type" onchange="selectMediaType(this);" value="Text" required>
              <label for="Text">Text</label>
              <input type="radio" id="video" name="media_type" onchange="selectMediaType(this);" value="Video" required>
              <label for="Video">Video</label>
            </div>
          </div>
          <div class="form-group" id="text-group">
            <label id="text-text">Text</label>
            <input type="text" class="form-control" id="text-box" name="text" placeholder="About Us Text">
          </div>
          <div class="form-group" id="video-group">
            <label id="video-text">Video</label>
            <input type="text" class="form-control" id="video-box" name="video" placeholder="About Us Video Link">
          </div>
  
          <div class="form-group">
            <label>Display Email</label>
            <input type="email" class="form-control" id="display_email" name="display_email" placeholder="Enter contact email to display" required>
          </div>
  

          <div id="host-fields">
            <div class="host-field">
              <h4>Host 1</h4>
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="host1_name" placeholder="" required>
              </div>
              <div class="form-group">
                <label>Bio</label>
                <input type="text" class="form-control" name="host1_bio" placeholder="" required>
              </div>
              <div class="form-group">
                <label>Photo</label>
                <input type="file" class="form-control" name="host1_photo" placeholder="">
              </div>
            </div>
          </div>
          <button type="button" id="add-host-fields">Add Host</button>
          <button type="button" id="remove-host-fields">Remove Host</button>
          <!-- <p><img id="output" width="200" /></p> -->

          <div id="tree-fields">
            <div class="form-group">
              <label>Tree 1 Species</label>
              <input type="text" class="form-control" name="tree1_species" placeholder="" required>
            </div>
          </div>
          <button type="button" id="add-tree-fields">Add Tree</button>
          <button type="button" id="remove-tree-fields">Remove Tree</button>

          <button type="submit">Preview Event Page</button>
  
        </form>
  
      </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}